a:visited {
    text-decoration: none; 
    color: black;   
}
body {
    font-family: Montserrat;
    background-color: whitesmoke;
}
.model-3 {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 2px;
}

.description {
    margin-top: 0px;
    text-align: center;
}

.touchless-delivery {
    text-decoration: underline;
    cursor: pointer;
    transition: opacity, 0.2s;
}

.touchless-delivery:hover {
    opacity: 0.8;
}

.tesla-picture {
    border-radius: 20px;
    border: 1px solid black;
    transition: opacity, 0.2s;
    width: 500px;
    height: 262px;
    object-fit:cover;
}

.tesla-picture:hover {
    opacity: 0.8;
}

.tesla-picture:active {
    opacity: 0.6;
}

.cars-div {
    display: inline-block;
    width: 500px;
    height: 262px;
    text-align: center;
    margin-right: 50px;
    vertical-align: top;
}

.car-group {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.model-name {
    margin-bottom: 3px;
}