.heading1 {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.outerdiv {
    background-color: lightblue;
    margin: 10px 60px;
    padding: 30px;
    border-radius: 1em;
    border: 3px solid black;
}
.num1and2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#num1 {
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 5px;
}

#num2 {
    margin-left: 10px;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 5px;
}

.operations {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

#add,#sub,#div,#mult {
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 0.6em;
    font-size: 40px;
    width: 3em;
    height: 1.5em;
}

#add:hover,#sub:hover,#div:hover,#mult:hover {
    cursor: pointer;
    background-color: aliceblue;
}

#add:active,#sub:active, #div:active #mult:active {
    opacity: 0.8;
    transition: 0.2s;
}

.add,.sub,.mult {
    margin-right: 10px;
}

.label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.output {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#result {
    font-weight: 700;
    font-family: arial;
}